<div class="container-fluid">
  <h2>Kết quả học tập</h2>

  <div style="display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 15px;">
    <label for="semester" style="margin-bottom: 5px;">Chọn học kỳ:</label>
    <select id="semester" [(ngModel)]="selectedSemester" (change)="loadGrades()">
      <option value="">-- Chọn học kỳ --</option>
      <option *ngFor="let hk of hocKyOptions" [value]="hk.name">{{ hk.name }}</option>
    </select>
  </div>
  <div *ngIf="errorMessage" style="color: red;">
    {{ errorMessage }}
  </div>

  <div *ngIf="isDataLoaded">
    <div *ngIf="grades.length > 0" class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Mã Lớp</th>
            <th>Điểm GK</th>
            <th>Điểm CK</th>
            <th>Tên học phần</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of grades">
            <td>{{ grade.maLop }}</td>
            <td>{{ grade.gki === -1 || grade.gki === 'Chưa có' ? 'Chưa có' : grade.gki }}</td>
            <td>{{ grade.cki === -1 || grade.cki === 'Chưa có' ? 'Chưa có' : grade.cki }}</td>
            <td>{{grade.nameCourse}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="selectedSemester && (gpaSemester !== null)" style="text-align: left; font-weight: bold; margin-top: 15px;">
        GPA kì {{ selectedSemester }} là {{ gpaSemester }}
    </div>

    <div *ngIf="grades.length === 0 && !errorMessage && selectedSemester">
      Không có điểm nào trong học kỳ này.
    </div>
  </div>

  <div *ngIf="hocKyOptions.length === 0 && !errorMessage && !isDataLoaded">
    Đang tải danh sách học kỳ...
  </div>
</div>