<div class="container-fluid mt-4 px-4 custom-content-container">
  <!-- 🌈 Tiêu đề đẹp -->
  <div class="container-fluid mt-3 px-3">
    <div class="text-center">
      <h2 class="title-heading">Danh sách lớp</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 d-flex justify-content-start mb-3">
    <button class="btn btn-info me-2" style="width:200px;"  (click)="toggleAddClazzModal()">
      <i class="fa fa-user-plus me-1"></i> Thêm lớp 
  </button>
  </div>
  <!-- Modal popup thêm lớp -->
  <div class="modal show d-block" tabindex="-1" *ngIf="isAddClazzModalVisible" style="background: rgba(0,0,0,0.4);">
    
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm Lớp Học Mới</h5>
          <button type="button" class="close"  style="width: 150px;"  (click)="toggleAddClazzModal()">×</button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addClazz()">
            <div class="form-group">
              <label for="maLop">Mã Lớp</label>
              <input id="maLop" class="form-control" [(ngModel)]="newClazz.maLop" name="maLop" required>
            </div>
            <div class="form-group">
              <label for="hocki">Học Kỳ</label>
              <input id="hocki" class="form-control" [(ngModel)]="newClazz.hocki" name="hocki" required>
            </div>
            <div class="form-group">
              <label for="maHocPhan">Mã Học Phần</label>
              <input id="maHocPhan" class="form-control" [(ngModel)]="newClazz.maHocPhan" name="maHocPhan" required>
            </div>
            <div class="form-group">
              <label for="lichThi">Lịch Thi (tuỳ chọn)</label>
              <input id="lichThi" class="form-control" [(ngModel)]="newClazz.lichThi" name="lichThi" required type="date">
            </div>
            <div class="form-group text-center mt-3">
              <button type="submit" class="btn btn-success">Thêm Lớp</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  



  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-info text-center">
        <tr>
          <th>Mã lớp</th>
          <th>Học kỳ</th>
          <th>Lịch thi</th>
          <th>Học phần</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let clazz of clazzes
              | paginate : { itemsPerPage: 18, currentPage: p }
          "
        >
          <td>{{ clazz.maLop }}</td>
          <td>{{ clazz.hocki }}</td>
          <td>{{ clazz.lichThi }}</td>
          <td>{{ clazz.maHocPhan }}</td>

        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
